<div class="row">
<div class="col-md 3">
  <mat-card>
    <img mat-card-image src="/assets/developer.jpg" alt=""/>
    <mat-card-header>
      <mat-card-title>
        What is Lorem Ipsum?
      </mat-card-title>
      <mat-card-content>
        <p>
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
        </p>
      </mat-card-content>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button >Favorites</button>
      <button mat-button >Read more</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>

